<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission android:name="com.hasan.youtubedownloader.PRIVATE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.hasan.youtubedownloader.PRIVATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:extractNativeLibs="true"
        android:requestLegacyExternalStorage="true"
        android:name=".DownloaderApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.YouTubeDownloader"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.MainActivity"
            android:theme="@style/YoutubeDownloader.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".work.NotificationReceiver"
            android:permission="com.hasan.youtubedownloader.PRIVATE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hasan.youtubedownloader.SHOW_NOTIFICATION"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>